body {
    background-image: url("file:///C:/Users/DeepSky8/Pictures/Notebook%20Paper%20Files/collegeruled.jpg");
    background-repeat: repeat-y;
    background-position: left top;

}

h1 {
    text-align: center;
}

p {
    text-align: center;
    margin: 112px 0px 100px 0px;
}