body {
    background-image: url("file:///C:/Users/DeepSky8/Pictures/Notebook%20Paper%20Files/RepeatablePaper.png");
    background-position: left top;
}

div {
    vertical-align: top;
    float: left;
    background-color: #F0FFFF;
    width: 20%;
    padding: 25px;
    border: 25px solid #B0C4DE;
    margin-left: 5%;
}

h1 {
    text-align: center;
    margin: 37px
}

.noBottom {
   text-align: center;
   margin-bottom: 0px;
}

.noTop {
   text-align: center;
   margin-top: 0px;
}


.logIn {
    text-align: center;
    margin: 120px 0px 100px 0px;
}

.textCenter {
    text-align: center;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}