<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>Issue Tracker -- Create New Issue</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
	    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css" />
	    <link rel="stylesheet" href="dashboard.css" />
	    <meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>
		<a href="/issues/new">New Issue</a>
		<a href="/issues/search">New Search</a>
		
<div class="pure-g">
  <div class="pure-u-6-24">
  <div class="floatingHeader">
  <h3>Entered</h3>
  </div>
      <table class="pure-table pure-table-striped">
			<thead>
				<tr>
					<th>Title</th>
					<th>Difficulty</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
			    <tr th:each="issue : ${issues}">
			    	<td th:text="${issue.title}">My First Issue</td>
					<td th:text="${issue.difficulty}">How hard is this?</td>
			    	<td th:text="${issue.description}">This is _very_ important</td>
			    </tr>
			</tbody>
		</table>
  </div>
  
  <div class="pure-u-6-24">
  <h3>In Progress</h3>
      <table class="pure-table pure-table-striped">
			<thead>
				<tr>
					<th>Title</th>
					<th>Difficulty</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
			    <tr th:each="issue : ${issues}">
			    	<td th:text="${issue.title}">My First Issue</td>
					<td th:text="${issue.difficulty}">How hard is this?</td>
			    	<td th:text="${issue.description}">This is _very_ important</td>
			    </tr>
			</tbody>
		</table>
  </div>
  
  <div class="pure-u-6-24">
  <h3>Filibustered</h3>
        <table class="pure-table pure-table-striped">
			<thead>
				<tr>
					<th>Title</th>
					<th>Difficulty</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
			    <tr th:each="issue : ${issues}">
			    	<td th:text="${issue.title}">My First Issue</td>
					<td th:text="${issue.difficulty}">How hard is this?</td>
			    	<td th:text="${issue.description}">This is _very_ important</td>
			    </tr>
			</tbody>
		</table>
  </div>
  
  <div class="pure-u-6-24">
  <h3>Under Review</h3>
        <table class="pure-table pure-table-striped">
			<thead>
				<tr>
					<th>Title</th>
					<th>Difficulty</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
			    <tr th:each="issue : ${issues}">
			    	<td th:text="${issue.title}">My First Issue</td>
					<td th:text="${issue.difficulty}">How hard is this?</td>
			    	<td th:text="${issue.description}">This is _very_ important</td>
			    </tr>
			</tbody>
		</table>
  </div>
  
</div>
	</body>