<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>Issue Tracker -- </title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css" />
	    <link rel="stylesheet" href="/css/issue.css" />
	</head>
	<body>
	    <div class="issue-title" th:text="${issue.title}">An issue of utmost importance!</div>
		<div class="content">
			<div class="description-header"><span>Description</span><hr/></div>			
			<div class="description" th:text="${issue.description}">
				This issue has a lengthy description!
			</div>
			<table class="pure-table pure-table-striped">
				<thead>
					<tr>
						<td>Author</td>
						<td>Comment</td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="comment : ${issue.comments}">
						<td th:text="${comment.author.username}">Abraham Lincon</td>
						<td th:text="${comment.comment}">A penny saved is a penny earned!</td>
					</tr>
				</tbody>
			</table>
			<form th:object="${commentForm}" th:action="${'/issues/view/' + issue.id}" action="#" method="post" class="pure-form pure-form-stacked">
		    	<fieldset>
		    		<legend>Comment</legend>
		    		
		    		<input th:field="*{authorId}" type="hidden" />
		    		
		    		<label for="comment">Comment</label>
		    		<textarea th:field="*{commentText}"></textarea>
		    		
		    		<button type="submit" class="pure-button pure-button-primary">Submit Comment</button>
		    	</fieldset>			
			</form>
		</div>
	</body>
</html>