<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>Issue Tracker -- Login</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css" />
	</head>
	<body>
	    <form th:object="${issueForm}" th:action="@{/issues/new}" action="#" method="post" class="pure-form pure-form-stacked">
	    	<fieldset>
	    		<legend>New Issue</legend>
	    		
	    		<label for="title">Title</label>
	    		<input th:field="*{title}" type="text" placeholder="Title" />
	    		
	    		<label for="description">Description</label>
	    		<textarea th:field="*{description}"></textarea>
	    		
	    		<label for="difficulty">Difficulty</label>
	    		<input type="radio" name="difficulty" value="1" />1
	    		<br />
	    		<br />
	    		<input type="radio" name="difficulty" value="5" />5
	    		<br />
	    		<br />
	    		<input type="radio" name="difficulty" value="9" />9
	    		<br />
	    		<br />
	    		<input type="radio" name="difficulty" value="15" />15
	    		<br />
	    		<br />
	    		<input type="radio" name="difficulty" value="20" />20
	    		<br />
	    		<br />
	    		<input type="radio" name="difficulty" value="27" />27
	    		<br />
	    		<br />
	    		<input type="radio" name="difficulty" value="35" />35
	    		<br />
	    		<br />
	    		<br />
	    		<!-- <label for="difficulty">Difficulty</label>
	    		<input th:field="*{difficulty}" type="number" placeholder="1-100" /> -->
	    		
	    		<button type="submit" class="pure-button pure-button-primary">Create</button>
	    	</fieldset>
	    </form>
	</body>
</html>