<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>Issue Tracker -- Login</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css" />
	</head>
	<body>
	    <form th:object="${issueForm}" th:action="@{/issues/new}" action="#" method="post" class="pure-form pure-form-stacked">
	    	<fieldset>
	    		<legend>New Issue</legend>
	    		<br />
	    		<br />
	    		<label for="title">Title</label>
	    		<input th:field="*{title}" type="text" placeholder="Title" />
	    		<br />
	    		<br />
	    		<label for="description">Description</label>
	    		<textarea th:field="*{description}"></textarea>
	    		<br />
	    		<br />
	    		<label for="category">Issue Category</label>
	    		  <select th:field="*{category}">
	    		    <option value="New Feature">New Feature Request</option>
	    		    <option value="Big Problem">Problem that needs fixed</option>
	    		    <option value="Enhancement">Please enhance this feature</option>
	    		  </select>
	    		<br />
	    		<br />
	    		<button type="submit" class="pure-button pure-button-primary">Save Issue</button>
	    	</fieldset>
	    </form>
	</body>
</html>